@import "tailwindcss";
@plugin "daisyui";

html {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  scroll-behavior: smooth;
}

:root {
  --jiwa-red: #B22222;
  --bg-primary: #ffffff;
  --text-primary: #1a1a1a;
}

[data-theme='dark'] {
  --bg-primary: #0d0d0d;
  --text-primary: #f5f5f5;
}

@layer components {
  .prose-jiwa h1 { @apply text-5xl md:text-6xl; }
  .prose-jiwa h2 { @apply text-4xl md:text-5xl; }
  .prose-jiwa h3 { @apply text-3xl md:text-4xl; }
  
  /* Link di dalam artikel */
  .prose-jiwa a {
    @apply text-[var(--jiwa-red)] font-bold border-b-2 border-[var(--jiwa-red)]/20 hover:border-[var(--jiwa-red)] transition-all;
  }
}